body {
    background-image: url(../imagenes/SodaPDF-converted-fondo.png);

}

.intro {

    display: flex;
    gap: 16px;

    align-items: center;
    background-color: rgba(252, 251, 251, 0.755);

}

.primer {
    background-color: rgba(252, 251, 251, 0.755);
    
    
    
}

.primer a{
    color: black;
}  

.carrusel{
    width: 1400px;
    display: center;

}
.texto_c{
    background-color: rgba(252, 251, 251, 0.755);
}
img{
    height: 200px;
    width: 300px;
}
i img{
    width: 80%;
    height: 70px ;

}
.botonin{
    height:100px ;
    width: 10%;
}
.botonderecha{
    height:100px ;
    width: 10%;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    height: 200px;
    margin:auto;
}
