body {
    background-image: url(../imagenes/SodaPDF-converted-fondo.png);

}
.intro {

    display: flex;
    gap: 16px;

    align-items: center;
    background-color: rgba(252, 251, 251, 0.755);

}
.primer{
    background-color: rgba(252, 251, 251, 0.755);
    float: left;

}

